#The include section
include  distribute_setup.py
include COPYING.txt
include LICENSE.txt
include THANKS.txt
include TODO.txt
include README.rst
include CHANGES.txt
include requirements.txt

#include the documentation
recursive-include docs/build/html/ *.*

#Add the data folder
recursive-include pytvdbapi/data/ *.*

#The exclude section
exclude MANIFEST*