#The include section
include  distribute_setup.py
include COPYING.txt
include LICENSE.txt
include THANKS.txt
include TODO.txt
include README.rst
include CHANGES.txt

#include the documentation
recursive-include docs/build/html/ *.*

#The exclude section
exclude MANIFEST*